@media only screen and (max-width: 600px) {
    #navContainer {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    #services {
        display: none;
    }

    #contact {
        display: flex;
        width: 50%;
    }

    #introSection {
        display: flex;
        flex-direction: column-reverse;
        height: 100vh;
        width: 100%;
    }

    #introSection #intro {
        width: 80%;
    }

    #introSection h1 {
        font-size: 30px;
    }

    #img::before {
        position: static;
    }

    #img::after {
        position: static;
    }

    #introButtons {
        display: flex;
        justify-content: space-around;

    }
}